:root {
  /* prettier-ignore-start */
  --grvsc-line-highlighted-background-color: rgba(255, 255, 255, 0.2);
  --grvsc-line-highlighted-border-color: rgba(255, 255, 255, 0.5);
  --grvsc-line-highlighted-border-width: 2px;
  /* prettier-ignore-end */
}

.anchor.before {
  padding-right: 0.2em;
}

@media (min-width: 500px) {
  .anchor.before {
    position: absolute;
    transform: translateX(-100%);
  }
}
